/* shadow={5} style={{ width: '300px', height: '320px', margin: 'auto' }} */

.Event {
    background-color: #fff;
    box-shadow: 5px;
    width: 15000px;
    height: 320px;
    padding: 10px;
}

.eventList {
    background: #fff;
}
